.navbar{

    border-bottom: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* About, Portfolio, Contact styling */

/* ??????? with this then the "Active" bootstrap does not work, right? */

#navbarLinks{

    color: #777777;
    border-right: 1px solid #777777 ;
    
}


/*  ?????????  How to make the green color be the same as the navbar height? */

.h1 {

    width: 300px;
    margin: 0px;
    padding: 0px;
    font-size: 24pt;
    font-weight:bold;
    text-align: center;
    color: white;
    background-color: #4aaaa5;
}


body{
    background-image: url("../interlaced.png");
}

.main{

    background-color: white;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h2{
    margin: 20px 20px 20px 5px;  
    font-size: 24pt;
    font-weight:bold;
    color: #4aaaa5;
}
#lunapic {

    width: 200px;
    height: 250px;
    float: left;
    margin: 0px 20px 20px 5px;
}

footer{

    height: 50px;
  border-top: 8px solid #4aaaa5;
  text-align: center;
  padding: 5px;
  background-color: #666666;

}